.header{

    height: 50px;
    background-color: rgb(30,30,30);
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    >img{
        height: 200%;
    }
    >div{
        width: 100%;
        margin-left: 4vmax;
        
        >a{
            margin: 2vmax;
            font-size: .75rem;
        }
    }
    >svg{
        color: white;
        font-size: 1.2rem;
        cursor: pointer;
    }

}